@{
    var homepage = Model.AncestorOrSelf();
    dynamic workItems = homepage.Children.Where("NodeTypeAlias == \"Work\"").First().Children;
}

<div id="slideshow" class="slides">
    <ul class="rslides">
        @foreach (var workItem in workItems) {
            var image = workItem.Image.mediaItem.Image.umbracoFile;
            
            <li class="work">
                <img src="@image" alt="@workItem.Name"></img>
                
                <div class="work-description">
                    <header>
                        <h1>@workItem.Name</h1>
                        <h2>@workItem.employer</h2>                    
                    </header>
                    
                    <p>
                        @workItem.description
                    </p>
                </div>
            </li>                   
        }
    </ul>
</div>